/* :root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
} */

/* :root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
} */

* {
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #fff;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
}
ul,li,ol {
list-style-type: none;
margin: 0;
padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
    letter-spacing: 0.02em;
}
.container {
    max-width:1158px;
    padding: 0 15px;
    margin: 0 auto;
}
a, button {
    font-family: inherit;
}
.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    /* line-height: 21px; */
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}
.header-logo .logo-part {
    color:#2e2f42;
}
.nav-link {
    padding: 24px 0;
    display: block;
        font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
    position: relative;
}
.nav-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position:absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts {
    margin-left: auto;
    font-style: normal;
}
.contacts-link {
    padding: 24px 0;
    display: block;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf; }


.title-text {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
        url(../images/people-office.jpg);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;

}
.title-text-styles {
    font-weight: 700;
    font-size: 56px;
/* line-height: 60px; */
    line-height: 107%;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    }
.container-section {
        margin: 0 auto;
    }
.title-text-push {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        cursor: pointer;
        line-height: 1.5;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        border: none;
        
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-text-push:focus,
.title-text-push:hover {
 background-color: #404bbf;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-list {
    display: flex;
        gap: 24px;
}
.section-list-item {
    width: calc((100%-72px)/4);
}
.main-section {
    padding: 120px 0 120px;
}
.main-svg-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.main-item {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-align: center;
}

.team-list-item { 
    background-color: #fff;
}
.item-paragraph {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;

}
.section-team-social {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.section-social-li {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-social-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-social-svg {
    fill: #F4F4FD;
}
.section-social-a:hover,
.section-social-a:focus {
background-color: #404bbf;
}
.section-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.gallery-list {
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    /* line-height: 40px; */
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.section-team-list {
    display: flex;
    gap: 24px;
}
.team-list-item {
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    border: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-team-div-inul {
     padding: 32px 0;
}
.list-item {
        text-align: center;
        margin-bottom: 8px;
        line-height: 1.2;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.item-paragraph {
        text-align: center;
        line-height: 1.5;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #434455;
}
.section-gallery {
        padding: 120px 0;
    }
.gallery-list {
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
}   
.gallery-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.gallery-li {
    width: calc((100% - 48px) / 3);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-li:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.gallery-img-div {
    position: relative;
    overflow: hidden;
}
.gallery-img-p {
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color, #F4F4FD);
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-li:hover .gallery-img-p {
    transform: translateY(0%);
}

.gallery-list-div-inul {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.list-item-gallery {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.item-paragraph-gallery {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.page-footer-div {
    display: flex;
    align-items: baseline;
}
.footer-div-one {
    margin-right: 120px;
}
.footer-text {
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.footer-logo {
        display: inline-block;
        margin-bottom: 16px;
        line-height: 1.17;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.footer-text {
    max-width: 264px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-social {
    display: flex;
    gap: 16px;
}
.footer-social-li {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-a:hover {
    background-color: #31d0aa;
}
.footer-social-a:focus {
    background-color: #31d0aa;
}
.footer-social-svg {
    fill: #f4f4fd;
}
.footer-p {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-form {
    display: flex;
    gap: 24px;
}
.input_footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}
.input_footer::placeholder {
    color: #ffffff;
}
.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.footer-subscribe-svg {
    margin-left: 16px;
    fill: #f4f4fd;
    
}
.footer-div {
    margin-left: 80px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    opacity : 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close-btn:hover>.modal-close-icon,
.modal-close-btn:focus>.modal-close-icon {
    fill: #fff;
}
.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box {
    margin-bottom: 8px;
}
.modal-box-area {
    margin-bottom: 16px;
}
.modal-text-area {
    width: 360px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-area:focus {
    border-color: #4d5ae5;
}
.modal-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    
    /* line-height: 14px; */
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.modal-check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-icon-box {
    position: relative;
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-input:focus {
    border-color: #4d5ae5;
}
.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}
.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-check-box {
        margin-bottom: 24px;
    }
.modal-checkbox:checked+.modal-check-label>.custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.privacy-policy {
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-check-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    
    /* line-height: 14px; */
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;

}
.form-btn {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 24px;
    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
}
.form-btn:focus,
.form-btn:hover {
    background-color: #404bbf;
}